PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Rate limiting
RATE_LIMIT_MAX=5
RATE_LIMIT_WINDOW_MS=60000

# Queue
QUEUE_MAX_RETRIES=3
QUEUE_RETRY_DELAY_MS=10000
